.main-container {
    text-align: center;
}
body {
    background-color: black;
    color: lime;
    max-width: 800px;
    margin: auto;
}
::selection {
    color: black;
    background-color: lime;
}
a {
    color: lime;
}
table, td, th {
    border: 1px solid;
}
table {
    width: 100%;
}
.error {
    color: red;
    font-family: monospace;
}
hr {
    border-color: lime;
}
