<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <title>{{ app_name }} - {{ title }}</title>
    {% load staticfiles %}
    <link href="{% static "style.css" %}" rel="stylesheet">
</head>
<body>
<table>
    <tr>
        <th><a href="{% url "home" %}">{{ app_name }}</a></th>
        <td><a href="{% url "home" %}">Home</a></td>
        <td><a href="#">Downloads</a></td>
        <td><a href="#">About</a></td>
    </tr>
</table>
{% block body %}
{% endblock %}
<hr/>
<p align="center">Copyright {{ app_name }} developers - {% now "Y" %}</p>
</body>
{% block scripts %}
{% endblock %}
</html>
